#top h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px black solid;
    margin-bottom: 0;
}

#top {
    color: black;
    word-spacing: .5em;
}

.nav{
    width: 100%;
    height: 50px;
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.nav li{
    width: 25%;
    float: left;
    line-height: 45px;
}

.subnav{
    border-bottom: #000, 10px, solid;
}

.subnav li{
    width: 20%;
    float: left;
    line-height: 35px;
    list-style: none;
}

.nav a, .subnav a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
    
    margin: 0 auto;
}

.subnav a{
    text-decoration: underline;
}

#menu{
    background-color: rgb(135, 217, 250);
}

#tutorial{
    background-color: #bfa;
    
}

#exercise{
    background-color: rgb(248, 255, 155);
}

#calculator{
    background-color: rgb(255, 170, 244);
}


html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@media (max-width: 1275px) {
  body {
    width: 1275px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
