{% extends "base.html" %}

{% block style %} 
    <style>
        #exercise{
            font-style: italic;
            font-weight: bold;
        }

        .aExercise{
            background-color: azure;
            height: 100px;
            padding: 5px;
            margin: 40px 10%;
            font-size: 24px;
            clear: both;
            border-radius: 5px;
        }
        .aExercise:hover {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
        }

        .binary div{
            float: left;
        }

        .unary div{
            
            float: left;
        }

        .question{
            width: 550px;
        }
        
        input[type=text]{
            width: 250px;
            height: 30px;
            font-size: 20px;
        }
        
        .buttons {
            text-align: right;
            margin-top: 40px;
            height: 70px;
            float: right;
        }

        button:hover {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
            color: white;
            background-color: skyblue;
        }

        #submit {
            width: 140px;
            height: 60px;
            border-radius: 5px;
            border: none; 
            margin-right: 10px;
        }
        #import {
            width: 140px;
            height: 60px;
            border-radius: 5px;
            border: none; 
            margin-right: 10px;
        }
        #newEX {
            width: 140px;
            height: 60px;
            border-radius: 5px;
            border: none; 
        }
        #FalseAnswer {
            text-align: center;
        }
        .Answer {
            width: 1118px;
        }
        


    </style>

{% endblock %}

{% block content %}
    <div class="exercisesBlock">
        <form id="form" action="#" method="post">
        {% for i in range(5): %}
        <div class="aExercise">
            {% if exercises[i][0]: %}
                <div class="binary">
                <div class="question">
                    <div><p>#{{i+1}} &nbsp;&nbsp;</p></div>
                    <div>
                        <table>
                            {% for j in range(0, 9, 3): %}
                            <tr>
                                <th>{{ exercises[i][2][j] }}</th>
                                <th>{{ exercises[i][2][j + 1] }}</th>
                                <th>{{ exercises[i][2][j + 2] }}</th>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div>
                        <p>
                            {% if exercises[i][1] == "add": %}
                                &nbsp;&nbsp;&nbsp;&nbsp; &plus; &nbsp;&nbsp;&nbsp;&nbsp;
                            {% elif exercises[i][1] == "sub": %}
                                &nbsp;&nbsp;&nbsp;&nbsp; &minus; &nbsp;&nbsp;&nbsp;&nbsp;
                            {% elif exercises[i][1] == "mult": %}
                                &nbsp;&nbsp;&nbsp;&nbsp; &times; &nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                        </p> 
                    </div>
                    <div>
                        <table>
                            {% for j in range(0, 9, 3): %}
                            <tr>
                                <th>{{ exercises[i][3][j] }}</th>
                                <th>{{ exercises[i][3][j + 1] }}</th>
                                <th>{{ exercises[i][3][j + 2] }}</th>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>    
                <div>
                    <p>
                        {% if is_checked: %}
                            <input type="text" id="{{i}}" name="{{i}}" value="{{user_answers[i]}}">
                        {% else: %}
                            <input type="text" id="{{i}}" name="{{i}}">
                        {% endif %}  
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                </div>
                {% if is_checked: %}
                <div class="Answer">
                    {% if check[i] == True: %}
                        <p style="background-color: rgb(140, 240, 140);">Correct</p>
                    {% elif check[i] == False: %}
                    <p><span style="background-color: rgb(255, 89, 89);">Wrong</span>&nbsp;&nbsp;Answer: {{exercises[i][-1]}}</p>
                    {% endif %}
                </div>
                {% endif %}  

                </div>

            {% else: %}
                <div class="unary">
                <div class="question">
                    <div><p>#{{i+1}} &nbsp;&nbsp;</p></div>
                    <div>
                        <p> &nbsp; Determine the {{ exercises[i][1][1:] }} of &nbsp; </p>
                    </div>
                    <div>
                        <table>
                            {% for j in range(0, 9, 3): %}
                            <tr>
                                <th>{{ exercises[i][2][j] }}</th>
                                <th>{{ exercises[i][2][j + 1] }}</th>
                                <th>{{ exercises[i][2][j + 2] }}</th>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="textBox">
                    <p>
                        {% if is_checked: %}
                            <input type="text" id="{{i}}" name="{{i}}" value="{{user_answers[i]}}">
                        {% else: %}
                            <input type="text" id="{{i}}" name="{{i}}">
                        {% endif %}  
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                </div>
                {% if is_checked: %}
                <div class="Answer">
                    {% if check[i] == True: %}
                        <p style="background-color: rgb(140, 240, 140);">Correct</p>
                    {% elif check[i] == False: %}
                        <p><span style="background-color: rgb(255, 89, 89);">Wrong</span>&nbsp;&nbsp;Answer: {{exercises[i][-1]}}</p>   
                    {% endif %}
                </div>
                {% endif %}  
                </div>
            {% endif %}
        </div>
        
        {% endfor %}
        </form>
        <div class="buttons">
            <form action="#" method="post">
                <button id="submit" type="submit" form="form" name="submit" value="submit"> Submit</button>
                <button id="import" type="submit" name="import" value="import"> Import Exercises Set</button>
                <button id="newEX" type="submit" name="new" value="new"> New Exercises Set</button>
            </form>
        </div>
    </div>


{% endblock %}