<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrix Learning Tool</title>
    <link rel="stylesheet" href="../static/css/style.css">

    <style>
    .buttons {
        width: 200px;
        margin: 0 auto;
    }

    button{
        width: 200px;
        height: 50px;
        margin-bottom: 20px;
        font-size: 16px;
        border-radius: 5px;
        border: none; 
    }
    button:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
      }
    body {
        overflow: hidden;
    }

    </style>
</head>
<body>
    <header id="top">
      <h1>Matrix Learning Tool</h1>
    </header>
    <main>
        <div class="buttons">
            <a href="{{url_for('tutorial')}}"><button id="tutorial" style="margin-top: 40px;">TUTORIAL</button></a>
            <a href="{{url_for('chooseEX')}}"><button id="exercise">EXERCISE</button></a>
            <a href="{{url_for('choose')}}"><button id="calculator">CALCULATOR</button></a>
        </div>
      
    </main>
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <!-- <footer>
      <p>All xxx rights reserved &nbsp; &copy;XXX&reg;</p>
    </footer> -->
   </body>
</html>