{% extends "base.html" %}

{% block style %} 
<style>
    main{
        padding: 30px 5%;
        padding-top: 100px;
    }

    #tutorial{
            font-style: italic;
            font-weight: bold;
    }

    p{
        font-size: 20px;
    }

    div{
        padding-bottom: 10px;
    }

    div button{
        float: right;
    }
    
</style>
{% endblock %}

{% block content %}
<ul class="subnav">
    <li>
        <a href="#addsub">Addition/Subtraction</a>
    </li>
    <li>
        <a href="#mul">Multiplication</a>
    </li>
    <li>
        <a href="#det">Determinant</a>
    </li>
    <li>
        <a href="#inv">Inverse</a>
    </li>
    <li>
        <a href="#eigen">Eigenvalue & Eigenvector</a>
    </li>
</ul>
<main>
    <div>
        <h1>Introduction</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
        </p>
        <button><a href="">up to menu</a></button>
    </div>
    <div>
        <h1 id="addsub">Addition/Subtraction</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
        </p>
        <button><a href="">up to menu</a></button>
    </div>
    <div>
        <h1 id="mul">Multiplication</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
        </p>
        <button><a href="">up to menu</a></button>
    </div>
    <div>
        <h1 id="det">Determinant</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
        </p>
        <button><a href="">up to menu</a></button>
    </div>
    <div>
        <h1 id="inv">Inverse</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
        </p>
        <button><a href="">up to menu</a></button>
    </div>
    <div>
        <h1 id="eigen">Eigenvalue and Eigenvector</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et impedit ea nobis fugit voluptatum iste neque, quam unde nam at, in quisquam minima debitis ipsam incidunt molestias distinctio inventore nostrum.
        </p>
        <button><a href="">up to menu</a></button>
    </div>
    
    
</main>
{% endblock %}